* {
    background: #0f0c26;
    color: white;
}

Screen {
    border: round #444444;
    width: 100%;
}

Input, ListView{
    border: round #444444;
}

Input {
    width: 80%;
}

Horizontal {
    layout: horizontal;
}

ListView {
    width: 30%;
}

ListItem {
    margin-top: 1;
    margin-bottom: 1;
}

Markdown {
    width: 70%;
}
